body {
  background-color: black;
}

img {
  z-index: -2;

  filter: opacity(100%);
  position: absolute;
  width: 95%;
  height: 110%;
}


.contText {
  color: rgba(225, 225, 225, .1);
  background: url(color3.jpg);
  animation: animateMidE 15s linear infinite;
  -webkit-background-clip: text;
  font-family: helvetica;
  font-size: 10vw;
  font-weight: 600;
  text-align: center;
  margin: auto;
  width: 90%;
}

@keyframes animateMidE {
  0% {
    background-position: left 400px top 100px;
  }
}

.conText {

  font-weight: 600;

  width: 70%;
  font-size: 10vw;
  text-align: left;
  margin: auto;
}
.formDet{
  display: block;
  margin-left: 17%;


}
#fname{
  height: 40px;
  width: 200px;
  margin-top: 20px;
  font-size: 15px;

}

.btn-all {
  margin-top: 60px;
  width: 100%;
}

.btn-group {
  margin-top: 25px;
  font-family: "Gill Sans", sans-serif;
  width: 70%;
  height: 60px;
  border-radius: 20px;
  background-color: #b9424e;
  border: none;
  color: white;
  text-align: center;
  transition: 0.3s;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  padding: 15px 32px;
  font-size: 25px;
  display: block;
  text-align: center;
  margin-left: 60px;
}
.btn-group1 {
  margin-top: 25px;
  font-family: "Gill Sans", sans-serif;
  width: 22%;
  height: 60px;
  border-radius: 20px;
  background-color: #b9424e;
  border: none;
  color: white;
  text-align: auto;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;

  font-size: 20px;
  font-weight: bold;
  display: block;
  margin-left: 230px;
}
#donation{
  width: 40%;
  height: 50px;
  border-radius: 20px;
  background: #b9424e;
  margin-left: 14%;
  margin-top: -60px;
  font-size: 20px;
  position: absolute;
  font-weight: bold;
  text-align: center;
  color: white;
}
::placeholder {
  color: white;
  opacity: 1;
}
.btn-group:hover {
  color: goldenrod;
  background-color: #23575b;
}
.btn-group1:hover {
  color: goldenrod;
  background-color: #23575b;
}

#heart{
  width: 70%;
  align-items: center;
  height: 35%;
  margin-left: 50px;
}

span p{
  font-family: arial;
  margin-top: 5px;
  padding-left: 70px;
}