body {
  background: black;
  background: url(color3.jpg);
  filter: blur(8px);
  -webkit-filter: blur(8px);
  animation: animateMid 15s linear infinite;
}
@keyframes animateMid {
  0% {
    background-position: left 800px top 0px;
  }
}
.contText {
  color: goldenrod;
font-family:"Gill Sans", sans-serif;
  width: 70%;
  font-size:10vw;
  text-align: left;
  margin: auto;
}

.btn-all {

  margin-top: 80px;
  width: 100%;
}

.btn-group {
  margin-top: 40px;
  width: 70%;
  height:60px;
  border-radius: 20px;
  background-color: goldenrod;
  border: none;
  color: white;
  text-align: center;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  padding: 15px 32px;
  font-size: 20px;
  display: block;
  text-align: center;
  margin-left: 70px;
}

.btn-group:hover {
  color: black;
  background-color: gold;
}
