body {
  font-family: 'Montserrat', sans-serif !important;
  background-color: #64BFF5;
}

#fx {
  z-index: -2;

  position: absolute;
  width: 95%;
  height: 110%;
}


.contText1 {
  color: rgba(225, 225, 225, .1);
  background: url(color3.jpg);
  animation: animateMidE 15s linear infinite;
  -webkit-background-clip: text;
  font-family: arial;
  font-size: 9vw;
  font-weight: 600;
  margin-top: 12%;
  margin-left: 5%;
  position: absolute;
  
  
  width: 90%;
  text-align: center;
}

@keyframes animateMidE {
  0% {
    background-position: left 1000px top 1000px;
  }
}

.conText {
  color: goldenrod;
  font-weight: 600;
  font-family: helvetica;
  width: 70%;
  font-size: 10vw;
  text-align: left;
  margin: auto;
}
.formDet{
  display: block;
  margin-left: 17%;


}
#fname{
  height: 40px;
  width: 200px;
  margin-top: 20px;
  font-size: 15px;

}

.btn-all {
  margin-top: px;
  width: 100%;
}


.btn-group {
  margin-top: 110%;
  position: absolute;
  width: 52%;
  height: 60px;
  border-radius: 20px;
  background-color: goldenrod;
  border: none;
  color: white;
  text-align: center;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  padding: 15px 32px;
  font-size: 20px;
  display: block;
  margin-left: 25%;
  z-index: 100;
}
#donation{
  width: 14%;
  height: 52px;
  border-radius: 20px;
  background: goldenrod;
  margin-left: 68%;
  margin-top: -60px;
  font-size: 20px;
  position: absolute;
  text-align: center;
  color: white;
}
::placeholder {
  color: white;
  opacity: 1;
}
.btn-group:hover {
  color: white;
  background-color: #b9424e;
}


#heart{
  width: 50%;
  align-items: center;
  height: 35%;
  margin-left: 26%;
  position: absolute;
  margin-top: 35%;
}

*{
  margin: 0px;
  padding: 0px;
}


.context {
  width: 100%;
  position: absolute;
  top:90vh;
  
}

.area{
  background: #64BFF5;  
  
  width: 100vw;
  height:100vh;
  z-index: -100;
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.350);
  animation: animate 25s linear infinite;
  bottom: -10%;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

.circles li:nth-child(11){
left: 1%;
width: 180px;
height: 180px;
animation-delay: 0s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}